@(pagename:String,user: models.users.User)(content:Html)
<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	    .footer { font-weight: bold; color: darkgrey; background-color: black; }
	    .sidecol { font-weight: bold; background-color: steelblue; }
	    .sidecol h2 { font-weight: bold; }
	    .midcol h1 { text-align: center; font-weight: bold; }
	    .midcol h3 { text-align: center; color: steelblue; }
	    .redtext { color: red; }
	</style>
	<title>Swift @pagename</title>
    </head>
    <body>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand" href="@routes.HomeController.index()">Swift</a>
		</div>
		<ul class="nav navbar-nav">
            <li @if(pagename == "Home") {class="active"}><a href="@routes.HomeController.index()">Home</a></li>
		    <li @if(pagename == "Project List") {class="active"}><a href="@routes.HomeController.projectList()">Projects</a></li>
			<li @if(pagename == "Departments") {class="active"}><a href="@routes.HomeController.userList()">Departments</a></li>
			<li @if(pagename == "Log In") {class="active"}>
				@if(user != null) {
					<a href="@routes.LoginController.logout()">Log Out</a>
				} else {
					<a href="@routes.LoginController.login()">Log In</a>
			</li>
} 
		</ul>
	    </div>
	</nav>

		<div class="col-sm-8">
		    <div class="midcol">
			@content
		    </div>
		</div>

	<script src ="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>

